@model IEnumerable<MiniCurso.Models.Cursos>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-6">
        <h2>
            Lista de Cursos
            <a class="btn btn-success">Novo</a>
        </h2>
    </div>
    <div class="col-md-6">
        <h3 class="h3right">
            Total de cursos: @ViewBag.qtdCursos
        </h3>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Curso</th>
            <th>Habilidade</th>
            <th>Modalidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="numbers">
                <td>@item.CURSOID</td>
                <td>@item.CURSODESCRICAO</td>
                <td>@item.CURSOCODHABILIDADE</td>
                <td>@item.CURSOMODALIDADE</td>
                <td><a class="btn btn-info" href="Exibir">Exibir</a></td>
                <td><a class="btn btn-warning" href="Editar">Editar</a></td>
                <td><a class="btn btn-danger" onclick="Apagar()">Apagar</a></td>
            </tr>
        }
    </tbody>
</table>
<script>
    const btnApagar = document.getElementById("numbers")

    function Apagar() {
        btnApagar.remove();
    }
</script>
