@model TDSAlmoxarifado.Models.Produto

@{
    ViewBag.Title = "Exibir";
}

<h2>Detalhes</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID Produto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROID)
        </dd>

        <dt>
            Descrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODESCRICAO)
        </dd>

        <dt>
            Mínimo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROMINIMO)
        </dd>

        <dt>
            Máximo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROMAXIMO)
        </dd>

        <dt>
            Em estoque
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROESTOQUE)
        </dd>
    </dl>
</div>
<p>
    <a class="btn btn-primary" href="/Produto/Index">Voltar para lista</a> |
    <a class="btn btn-warning" href="@Url.Action("Edit", new {id=Model.PROID})">Editar</a>
</p>



