@model IEnumerable<TDSAlmoxarifado.Models.Produto>

@{
    ViewBag.Title = "Produtos";
}
<div>
    <h2>
        Gestâo de Produtos
        <a href="/Produto/Create">
            <button type="button" class="btn btn-success">Novo</button>
        </a>
    </h2>
</div>
<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col">Mínimo</th>
                <th scope="col">Máximo</th>
                <th scope="col">Em Estoque</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            
            
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PROID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRODESCRICAO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PROMINIMO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PROMAXIMO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PROESTOQUE)
                    </td>
                    <td>
                        <a class="btn btn-warning" href="@Url.Action("Edit", new {id=item.PROID})">Editar</a>
                        <a class="btn btn-info" href="@Url.Action("Details", new {id=item.PROID})">Exibir</a>
                        <a class="btn btn-danger" href="@Url.Action("Delete", new {id=item.PROID})">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


